
<% layout('layouts/main-layout') -%>
<div class="display">
<table>
  <tr class="joke-row">
    <% if(user){%>
      <td class="inlineb">
        <div> <button type="button" class="like"></button></div>
        <div> <button type="button" class="dislike"></button></div>
      </td>
    <%}%>
    <td class="inlineb">
      <div><img src="/images/profile_pic.png" class="profile_picture"></div>
    </td>
    <td class="joke-title-row inlineb">
      <div class="joke-title"><b><%=joke.title%></b></div>
      <div>        
        <div class="inner-joke" ><%=joke.comments.length + " comments"%></div>
        <div class="inner-joke"><%=" "+ joke.likes.length + " likes "%></div>
        <div class="inner-joke"><time class="timeago" datetime='<%=joke.created_at.toISOString()%>'><%=joke.created_at.toISOString()%></time></div>
      </div>      
    </td>

  </tr>
  <tr>
    <td><div><%= joke.content %></div></td>
  </tr>

  <% if(user){%>
    <tr>  
      <td><input id="joke-comment-content" class="input-fields" type="text"  /></td>
      <td><input id="joke-comment-id" type="hidden" name="joke_id" value='<%=joke.id%>'/></td>
      <td><input id="joke-author-id" type="hidden" name="author_id" value='<%=user.id%>'/></td>
      <td><button class="comment-button" onclick="comment()" id="comment-button">comment</button></td>        
    </tr>   
  <%}%>
</table>
<table id="table-comments">
  <%comments.forEach(function(comment){%>
    <tr class="joke-comments">
      <td>
        <div><img src="/images/profile_pic.png" class="profile_picture"></div>
        <div><%=comment.author.username%></div>
      </td>
      <td>
        <div><%= comment.content%></div>
         <div class="inner-joke"><time class="timeago" 

         datetime='<%=comment.created_at.toISOString()%>'><%=comment.created_at.toISOString()%></time>
         </div> 
      </td>
      
         
    </tr>
  <%});%>
</table>
</div>